<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         testdox="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         executionOrder="depends,defects"
         failOnWarning="false"
         failOnRisky="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="All Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="memory_limit" value="-1"/>
    <!-- Spotify API credentials for integration tests -->
    <!-- Set these environment variables before running integration tests -->
    <env name="SPOTIFY_CLIENT_ID" value=""/>
    <env name="SPOTIFY_CLIENT_SECRET" value=""/>
    <env name="SPOTIFY_REFRESH_TOKEN" value=""/>
  </php>
</phpunit>
